
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="hideLogin()"><i class="icon ion-ios-arrow-back"></i>返回</button>
    

    <h1 class="title">{{loginTitle}}</h1>
    <button class="button button-clear button-primary" ng-click="goRegister()">注册</button>
  </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
        <label class="item item-input">
          <span class="input-label">手机号码：</span>
          <input type="text" ng-model="mobile">
        </label>
        <label class="item item-input">
          <span class="input-label">密码：</span>
          <input type="password" ng-model="password">
        </label>
        <label class="item item-input" ng-show="isRegister">
          <span class="input-label">确认密码：</span>
          <input type="password" ng-model="checkpass">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" on-tap="onTapLogin(mobile,password,checkpass)" >{{loginBtnTitle}}</button>
      </div>
    </ion-content>
</ion-modal-view>