
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-ios-arrow-back"></i>返回</button>
    

    <h1 class="title">修改密码</h1>

  </ion-header-bar>
    <ion-content class="padding">
    <div class="list">
        <label class="item item-input">
          <span class="input-label">原密码：</span>
          <input type="password" ng-model="oldpass">
        </label>
        <label class="item item-input">
          <span class="input-label">新密码：</span>
          <input type="password" ng-model="newpass">
        </label>
        <label class="item item-input">
          <span class="input-label">确认密码：</span>
          <input type="password" ng-model="checkpass">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" on-tap="onTapNewPass(oldpass,newpass,checkpass)" >修改</button>
      </div>
    </ion-content>
</ion-modal-view>