
<ion-view view-title="贷款大全" ng-controller="PlatCtrl">
    <ion-nav-buttons side="left" >
      <button ng-show="appTitle=='51贷款管家'" class="button button-clear button-primary" on-tap="goLine()"><i class="icon ion-ios-arrow-back"></i>返回</button>
    </ion-nav-buttons>
<ion-content class="padding"  delegate-handle="platScroll">

<div class="row row-wrap" style=" padding:0px; padding-top:0px;" ng-show="showPlat">
    <div ng-repeat-start="n in category" style="display:none"></div>
    	  <h5 style="width:{{resetWidth()}}px;margin-bottom:0px;">{{n}}</h5>
          <div class="card" style="width:{{cardWidth()}}px; margin:5px;" ng-repeat="x in records" ng-if="x.category==n" on-tap="onTapItem(x)">
            <a class="item item-thumbnail-left" style=" padding:10px 0px 0px 55px;min-height: 55px; white-space:none;">
              <img src="img/pixel.gif" class="bgdk" style="width:40px;height:40px;background-position:-{{x.logo_x}}px -{{x.logo_y}}px;">
              <h2>{{x.plat_name}}</h2>
              <p style="white-space:normal;font-size:12px; line-height:12px;">{{x.introduction}}</p>
            </a>
          </div>
    <div ng-repeat-end></div>
</div>
</ion-content>
</ion-view>