<ion-view view-title="我" ng-controller="SetCtrl" class="my-set">

    <ion-nav-buttons side="left" >
      <button ng-show="appTitle=='51贷款管家'" class="button button-clear button-primary" on-tap="goLine()"><i class="icon ion-ios-arrow-back"></i>返回</button>
    </ion-nav-buttons>

    <ion-content class="padding">

      <div class="head-big-line"><img ng-src="{{headImg}}" on-tap="onTapSetHead()"></div>
      <div class="padding" ng-show="isLogin()==false">
        <button class="button button-block button-positive" on-tap="showLogin()" >您还未登录,点击登录</button>
      </div>
      <div class="list">

        <a class="item item-icon-left" ng-show="isLogin()">
          <i class="icon ion-set-shenfen"></i>
          {{User==null?'':User.mobile}}

        </a>

        <a class="item item-icon-left item-icon-right" on-tap="goMessage()">
          <i class="icon ion-set-xin"></i>
          直连客服/产品经理
          <i class="icon ion-set-jiantou"></i>
        </a>

        <a class="item item-icon-left item-icon-right" ng-show="isLogin()" on-tap="modifyPass()">
          <i class="icon ion-set-xiugai"></i>
          修改/设置密码
          <i class="icon ion-set-jiantou"></i>
        </a>
        <a class="item item-icon-left item-icon-right" on-tap="goAppStore()">
          <i class="icon ion-set-star"></i>
          点评/提意见
          <i class="icon ion-set-jiantou"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#/tab/about">
          <i class="icon ion-set-gywm"></i>
          关于我们
          <i class="icon ion-set-jiantou"></i>
        </a>

       

      </div>
      <div class="padding" ng-show="isLogin()">
        <button class="button button-block button-positive" on-tap="onTapLogout()" >退出登录</button>
      </div>
    
    

    </ion-content>
</ion-view>

