<ion-tabs class="tabs-icon-top tabs-positive {{$root.hideTabs}}">


    <ion-tab title="贷款推荐" icon-on="ion-tab-home-on" icon-off="ion-tab-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>​

    <ion-tab title="贷款大全" icon-on="ion-tab-loan-on" icon-off="ion-tab-loan" href="#/tab/plat">
        <ion-nav-view name="plat-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="贷款管理" icon-on="ion-tab-guanli-on" icon-off="ion-tab-guanli" href="#/tab/line">
        <ion-nav-view name="line-tab"></ion-nav-view>
    </ion-tab>

    <!--ion-tab title="直连" icon="ion-ios-information" href="#/messageDetail">
        <ion-nav-view name="message-tab"></ion-nav-view>
    </ion-tab-->

    <!--ion-tab title="信用卡" icon="ion-tab-card" href="#/tab/card">
        <ion-nav-view name="card-tab"></ion-nav-view>
    </ion-tab-->

    <!--ion-tab title="资料箱" icon="ion-ios-information" href="#/tab/card">
        <ion-nav-view name="card-tab"></ion-nav-view>
    </ion-tab-->

    <ion-tab title="我" icon-on="ion-tab-wo-on" icon-off="ion-tab-wo" href="#/tab/set">
        <ion-nav-view name="me-tab"></ion-nav-view>
    </ion-tab>
​
</ion-tabs>